body {
  min-height: 100vh;
  overflow-y: auto;
}

.article-card {
  @apply relative;

  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
}

.article-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.article-card img {
  transition: transform 0.3s ease-in-out;
}

.article-card:hover img {
  transform: scale(1.1);
}

.articles-bg {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto;
}

@media (prefers-reduced-motion: reduce) {
  .article-card,
  .article-card img {
    transition: none;
  }

  .article-card:hover {
    transform: none;
  }

  .article-card:hover img {
    transform: none;
  }
}

.animate-bounce-slow {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

.balloon-text {
  font-family: "Bubblegum Sans", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes float {
  0% {
    transform: translateY(0px);
    filter: blur(0px);
  }
  50% {
    transform: translateY(-20px);
    filter: blur(1px);
  }
  100% {
    transform: translateY(0px);
    filter: blur(0px);
  }
}

.floating {
  animation: float 6s ease-in-out infinite;
}

.letter {
  display: inline-block;
}
